<SpaceBetweenPanel Class="month-navigation">
    <SpaceBetweenPanel Class="month-navigation__left">
        <IconButton
            Class="month-navigation__button"
            Icon="@IconsEnum.ChevronDoubleLeft" 
            OnClick="@GoToStartYear" />
        <IconButton 
            Class="month-navigation__button" 
            Icon="@IconsEnum.ChevronLeft" 
            OnClick="@GoToPreviousMonth" />
    </SpaceBetweenPanel>

    <div class="month-navigation__title">@SelectedMonthStartDate.ToMMMMyyyy()</div>

    <SpaceBetweenPanel Class="month-navigation__right">
        <IconButton 
            Class="month-navigation__button"
            Icon="@IconsEnum.ChevronRight"   
            OnClick="@GoToNextMonth" />
        <IconButton 
            Class="month-navigation__button" 
            Icon="@IconsEnum.ChevronDoubleRight" 
            OnClick="@GoToEndYear" />
    </SpaceBetweenPanel>
</SpaceBetweenPanel>
@code {
    [Parameter] public DateTime SelectedMonthStartDate { get; set; }
    [Parameter] public EventCallback<DateTime> SelectedMonthStartDateChanged { get; set; }

    private void HandleMonthChanged(DateTime monthStartDate) {
        SelectedMonthStartDate = monthStartDate; 
        SelectedMonthStartDateChanged.InvokeAsync(monthStartDate);
    }

    private void GoToPreviousMonth() => HandleMonthChanged(SelectedMonthStartDate.AddMonths(-1));

    private void GoToNextMonth() => HandleMonthChanged(SelectedMonthStartDate.AddMonths(1));

    private void GoToStartYear() => HandleMonthChanged(StartOfYearAdjusted(SelectedMonthStartDate));

    private void GoToEndYear() => HandleMonthChanged(EndOfYearAdjusted(SelectedMonthStartDate));

    private static DateTime
    StartOfYearAdjusted(DateTime selectedMonthStartDate) {
        var yearStart = new DateTime(selectedMonthStartDate.Year, 1, 1);
        if (selectedMonthStartDate.Date == yearStart.Date) 
            yearStart = yearStart.AddYears(-1);
        return yearStart;
    }
    private static DateTime
    EndOfYearAdjusted(DateTime selectedMonthStartDate) {
        var endYear = new DateTime(selectedMonthStartDate.Year, 12, 1);
        if (selectedMonthStartDate.Date == endYear.Date) 
            endYear = endYear.AddYears(1);
        
        return endYear;
    }
}
